In [1]:
import numpy as np
import pandas as pd

In [2]:
data_file = open('route data cleaned.txt', 'r')
lines = data_file.readlines()

In [3]:
count_table = pd.DataFrame()
line_count = 0
for line in lines:
    if len(line[75:-1]) > 0:
        line_count+=1
        for address in line[75:-1].split():
            if address in count_table.index:
                count_table.loc[address]+=1
            else:
                entry = pd.Series([1], name=address)
                count_table = count_table.append(entry)
print("line count", line_count)

line count 4264

In [4]:
count_table.to_pickle('count_table.pkl')

In [22]:
count_table.head()

                     0
204.255.174.70  3321.0
204.255.174.33     4.0
207.173.112.63     4.0
207.173.114.54     2.0
208.186.20.209     2.0

In [6]:
day_counts = pd.DataFrame()
lines_per_day = 143
line_count=0
for line in lines:
    if len(line[75:-1]) > 0:
        line_count+=1
        for address in line[75:-1].split():
            if address in day_counts.index:
                day_counts.loc[address][int(np.floor(line_count/lines_per_day))]+=1
            else:
                entry = np.zeros(30)
                entry[int(np.floor(line_count/lines_per_day))]=1
                entry = pd.Series(entry, name=address)
                day_counts = day_counts.append(entry)
day_counts.to_pickle('day_counts.pkl')

In [7]:
day_counts_filtered = day_counts.loc[list(count_table[count_table[0] > 100].index)]
day_counts_filtered.to_pickle('day_counts_filtered.pkl')

In [8]:
day_counts_filtered = pd.read_pickle('day_counts_filtered.pkl')
day_counts_filtered.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
204.255.174.70,105.0,117.0,112.0,113.0,117.0,111.0,115.0,116.0,112.0,119.0,...,109.0,107.0,105.0,98.0,116.0,112.0,115.0,115.0,115.0,92.0
152.63.51.65,15.0,11.0,12.0,11.0,7.0,10.0,13.0,16.0,10.0,16.0,...,18.0,9.0,12.0,7.0,17.0,9.0,16.0,15.0,10.0,9.0
137.39.4.156,23.0,23.0,22.0,27.0,19.0,21.0,27.0,29.0,25.0,32.0,...,31.0,26.0,29.0,17.0,27.0,22.0,35.0,25.0,22.0,17.0
137.39.11.48,14.0,17.0,16.0,18.0,14.0,14.0,21.0,24.0,21.0,24.0,...,24.0,21.0,20.0,12.0,19.0,15.0,33.0,20.0,18.0,15.0
198.32.200.50,20.0,11.0,16.0,18.0,13.0,17.0,15.0,13.0,12.0,15.0,...,12.0,14.0,25.0,16.0,15.0,17.0,11.0,10.0,11.0,12.0

In [9]:
count_table.index

Index(['204.255.174.70', '204.255.174.33', '207.173.112.63', '207.173.114.54',
       '208.186.20.209', '207.173.114.34', '208.186.20.161', '207.173.114.37',
       '208.186.20.49', '152.63.51.65',
       ...
       '128.239.12.6', '128.239.14.2', '66.123.104.121', '66.123.104.122',
       '65.207.89.61', '63.95.84.1', '152.63.54.18', '157.130.192.109',
       '63.121.125.11', '216.126.145.98'],
      dtype='object', length=5766)

In [14]:
for address in count_table.index:
    if '23.246' in address:
        print(address)

In [17]:
day_counts_filtered = day_counts_filtered.transpose()

In [18]:
day_counts_filtered.to_csv('day_counts_filtered.csv')

In [20]:
day_counts.transpose().to_csv('day_counts.csv')